@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


body{
   
      
    background-color: hsl(185, 75%, 39%) ;
    font-family:Kumbh Sans ;
    
    margin:0;
    padding:0;
    min-height:100vh;
    height:100%; 

    justify-items: center;
   
    display: flex;
    justify-content: center;
    align-items:center;
    
   
    

}


.frame{
  width:60rem;
  height:45rem;
    

     
}





.frame:before,.frame:after{
    position:absolute;
    content:'';
    width:100vw;
    height:100vh;
    background-size:auto;
    
    transform:translate(-48%,-57%);

    z-index:-1;
}




.frame:before{
    top:10%;
    right:2%;
    background:url("./images/bg-pattern-top.svg") no-repeat bottom right
}




.frame:after{
    top:99%;
    left:96%;
    background:url("./images/bg-pattern-bottom.svg") no-repeat top left

}


.main-container{
    margin: auto;
    border-radius: 1rem;
    z-index:1;
    width:18rem;
    height:24rem;
    border-radius: 0.5rem;
    background-color: white ;
    z-index:  1;
    overflow:hidden;
    
}

.grid-container{
    
    margin: auto;
    display:grid;
    grid-template-columns: 7rem 7rem 7rem;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    
}

.blue-container{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start:1 ;
    grid-row-end: 3;

}
.blue{
    z-index: 2;
    width:fit-content;
    
    
}

.profilePicture{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:2;
    grid-row-end:3;
    
}

.photo{
    border-radius: 50%;
}
.address{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:3 ;
    grid-row-end:4;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    line-height: 1.5rem;
}
.name{
    color: hsl(229, 23%, 23%);
    font-weight: 700;
    

}
.london{
    color:hsl(227, 10%, 46%);
}

.item{
    color:hsl(227, 10%, 46%); 
    font-size: 13px;
}

.addressNumber{
    color:hsl(229, 23%, 23%);
}

.lists{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start:4 ;
    grid-row-end:5;
}


ul{
    display: flex;
    list-style: none;
     line-height: 1.3rem;
     justify-content:space-between;
     padding-right: 2rem;
     font-size: 18px;
     font-family:Kumbh Sans ;

}

li{
 
    display: grid; 
    
}
.number{
    color: hsl(229, 23%, 23%);
    font-weight: 700;
   
}
